body {
  font-family: Inter;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-background {
  background-color: hsl(0, 0%, 8%);
  width: 100px;
  height: 100px;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}

.card {
  background-color: hsl(0, 0%, 12%);
  z-index: 100;
  height: fit-content;
  width: fit-content;
  border-radius: 14px;
  display: grid;
  place-items: center;
  padding: 46px;
}

.profile-picture-container {
  margin: 0;
  padding: 0;
}

.profile-picture {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.copy {
  place-items: center;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-size: 16px;
}

h3 {
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 18px;
}

.button-container {
  display: grid;
  gap: 16px;
  margin: 0;
  padding-top: 0;
}

.social-button {
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: none;
  width: 364px;
  padding: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.social-button:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}