/* I used a lot of % for a lot of the properties for the first
time in this project. */

body {
  font-family: Inter;
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Learned this * selector and box-sizing property from
www.w3schools.com */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* I acutally don't know if this main styling is necessary.
I did it to center the acttribution div because it's nested
inside the main div and it messed up my buttons. To fix 
that, I added a max-width that matched the example provided 
and set the width to 100% to make it responsive. 
I don't know if that makes sense.  */
main {
  width: 100%;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.profile-picture {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.copy {
  width: 100%;
  margin-bottom: 24px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-button {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: none;
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.social-button:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  position: absolute;
  bottom: 5px;
}

.attribution a {
   color: hsl(75, 94%, 57%); 
}

/* Mobile */
/* I don't know if this was necesarry either, but I wanted
to practice using media queries. Understand it better now. */
@media (max-width: 375px) {
  .card {
    padding: 26px;
  }
}